In [ ]:
def salary_cal(emp_id,emp_name,emp_sal,emp_leaves):
    print("this is function")

class Emp:
    def salary_cal(obj):
        print("this is salry calculation")

In [1]:
def fun():
    print("this is fun")
    
class Emp:
    print("this is class")

this is class

In [2]:
def fun():
    print("this is fun")
    
class Emp:
    print("this is class")
    def get(obj):
        print("this is get")

this is class

In [3]:
def fun():
    print("this is fun")
    
class Emp:
    print("this is class")
    emp_name="Jay"
    emp_id=1
    emp_sal=200000
    emp_leaves=3
    def get(obj):
        print("this is get")

print(Emp.emp_name, Emp.emp_id, Emp.emp_sal)
Emp.get("jayaram")

this is class
Jay 1 200000
this is get

In [5]:
class Emp:# class object
    pass
jay=Emp()# data object
jay.name="Jayaram"
jay.id=1
jay.sal=200000
jay.leaves=3# name id sal leaves are the attributes, these atttributes are binded to Emp data object, refer by jay reference.
vedha = Emp()# data object
vedha.name="Vedhanvesh"
vedha.id=2
vedha.sal=300000
vedha.leaves=2
print(jay.name,jay.id,jay.sal,jay.leaves)
print(vedha.name, vedha.id, vedha.sal, vedha.leaves)

Jayaram 1 200000 3
Vedhanvesh 2 300000 2

In [7]:
# class Product: name, cost, color, discount, deliverycharges, profit
class Emp:# class object
    def get(obj):
        return obj.name, obj.id, obj.sal, obj.leaves
        
jay=Emp()# data object
jay.name="Jayaram"
jay.id=1
jay.sal=200000
jay.leaves=3# name id sal leaves are the attributes, these atttributes are binded to Emp data object, refer by jay reference.
vedha = Emp()# data object
vedha.name="Vedhanvesh"
vedha.id=2
vedha.sal=300000
vedha.leaves=2
#print(jay.name,jay.id,jay.sal,jay.leaves)
print(Emp.get(jay))
#print(vedha.name, vedha.id, vedha.sal, vedha.leaves)
print(Emp.get(vedha))

('Jayaram', 1, 200000, 3)
('Vedhanvesh', 2, 300000, 2)

In [8]:
# class Product: name, cost, color, discount, deliverycharges, profit
class Emp:# class object
    def set_data(obj, name, e_id, sal,leaves):
        obj.name=name
        obj.id=e_id
        obj.sal=sal
        obj.leaves=leaves
    
    def get(obj):
        return obj.name, obj.id, obj.sal, obj.leaves
        
jay=Emp()# data object
Emp.set_data(jay, "Jayaram",1,200000,3)
# jay.name="Jayaram"
# jay.id=1
# jay.sal=200000
# jay.leaves=3# name id sal leaves are the attributes, these atttributes are binded to Emp data object, refer by jay reference.
vedha = Emp()# data object
Emp.set_data(vedha,"Vedhanvesh",2,300000,2)
# vedha.name="Vedhanvesh"
# vedha.id=2
# vedha.sal=300000
# vedha.leaves=2
#print(jay.name,jay.id,jay.sal,jay.leaves)
print(Emp.get(jay))
#print(vedha.name, vedha.id, vedha.sal, vedha.leaves)
print(Emp.get(vedha))

('Jayaram', 1, 200000, 3)
('Vedhanvesh', 2, 300000, 2)

In [10]:
class Emp:# class object
    def set_data(obj, name, e_id, sal,leaves):
        obj.name=name
        obj.id=e_id
        obj.sal=sal
        obj.leaves=leaves
    
    def get(obj):
        return obj.name, obj.id, obj.sal, obj.leaves
        
jay=Emp()
Emp.set_data(jay, "Jayaram",1,200000,3)
vedha = Emp()
Emp.set_data(vedha,"Vedhanvesh",2,300000,2)
print(Emp.get(jay))
print(Emp.get(vedha))

('Jayaram', 1, 200000, 3)
('Vedhanvesh', 2, 300000, 2)

In [13]:
class Emp:# class object
    def set_data(obj, name, e_id, sal,leaves):
        obj.name=name
        obj.id=e_id
        obj.sal=sal
        obj.leaves=leaves
    
    def get(obj):
        return obj.name, obj.id, obj.sal, obj.leaves
        
jay=Emp()
#Emp.set_data(jay, "Jayaram",1,200000,3)
jay.set_data("Jayaram",1,200000,3)
vedha = Emp()
#Emp.set_data(vedha,"Vedhanvesh",2,300000,2)
vedha.set_data("Vedhanvesh",2,300000,2)
#print(Emp.get(jay))
print(jay.get())
#print(Emp.get(vedha))
print(vedha.get())

('Jayaram', 1, 200000, 3)
('Vedhanvesh', 2, 300000, 2)

In [14]:
class Emp:# class object
    def set_data(obj, name, e_id, sal,leaves):
        obj.name=name
        obj.id=e_id
        obj.sal=sal
        obj.leaves=leaves
    
    def get(obj):
        return obj.name, obj.id, obj.sal, obj.leaves
        
jay=Emp()
jay.set_data("Jayaram",1,200000,3)
vedha = Emp()
vedha.set_data("Vedhanvesh",2,300000,2)
print(jay.get())
print(vedha.get())

('Jayaram', 1, 200000, 3)
('Vedhanvesh', 2, 300000, 2)

In [17]:
class Emp:# class object
    def set_data(obj, name, e_id, sal,leaves):
        obj.name=name
        obj.id=e_id
        obj.sal=sal
        obj.leaves=leaves
    
    def get(obj):
        return obj.name, obj.id, obj.sal, obj.leaves
    def sal_cal(obj):
        return obj.sal-(obj.leaves*(obj.sal/30))
        
jay=Emp()
jay.set_data("Jayaram",1,200000,3)
vedha = Emp()
vedha.set_data("Vedhanvesh",2,300000,2)
print(jay.get())
print(vedha.get())
print(jay.sal_cal())
print(vedha.sal_cal())

('Jayaram', 1, 200000, 3)
('Vedhanvesh', 2, 300000, 2)
180000.0
280000.0

In [18]:
class Emp:# class object
    def set_data(self, name, e_id, sal,leaves):
        self.name=name
        self.id=e_id
        self.sal=sal
        self.leaves=leaves
    
    def get(self):
        return self.name, self.id, self.sal, self.leaves
    def sal_cal(self):
        return self.sal-(self.leaves*(self.sal/30))
        
jay=Emp()
jay.set_data("Jayaram",1,200000,3)
vedha = Emp()
vedha.set_data("Vedhanvesh",2,300000,2)
print(jay.get())
print(vedha.get())
print(jay.sal_cal())
print(vedha.sal_cal())

('Jayaram', 1, 200000, 3)
('Vedhanvesh', 2, 300000, 2)
180000.0
280000.0

In [19]:
class Emp:# class object
    def set_data(self, name, e_id, sal,leaves):
        self.name=name
        self.id=e_id
        self.sal=sal
        self.leaves=leaves
    
    def get(self):
        return self.name, self.id, self.sal, self.leaves
    def sal_cal(self):
        return self.sal-(self.leaves*(self.sal/30))
        
jay=Emp()
jay.set_data("Jayaram",1,200000,3)
vedha = Emp()
vedha.set_data("Vedhanvesh",2,300000,2)
print(jay.get())
print(vedha.get())
print(jay.sal_cal())
print(vedha.sal_cal())
sai=Emp()
print(sai.sal_cal())

('Jayaram', 1, 200000, 3)
('Vedhanvesh', 2, 300000, 2)
180000.0
280000.0

AttributeError: 'Emp' object has no attribute 'sal'