In [1]:
print("hello world")

hello world

In [2]:
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print(name,age,height,weight)

Jayaram 4 3.46783 17.36789

In [3]:
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print(name,age,height,weight,sep="=>")

Jayaram=>4=>3.46783=>17.36789

In [4]:
print("hello")
print("hi")

hello
hi

In [5]:
print("hello",end=" ")
print("hi")

hello hi

In [6]:
print("hello \n hi")

hello
 hi

In [7]:
print("hi")

hi

In [8]:
print('hi')

hi

In [9]:
print("It's a cool weather in hyderabad now")

It's a cool weather in hyderabad now

In [10]:
print("It's a cool weather in "hyderabad" now")

SyntaxError: invalid syntax (<ipython-input-10-a2ba61559013>, line 1)

In [11]:
print("It's a cool weather in \"hyderabad\" now")

It's a cool weather in "hyderabad" now

In [12]:
print('It\'s a cool weather in "hyderabad" now')

It's a cool weather in "hyderabad" now

In [13]:
print("sdfsdfds\nsdfsd\ndsfsdfsd\nsdfsd\tsdfsdf\nsdfsdf\n\ndsfsdfsd\nsdfsd\ndsfsdfs")

sdfsdfds
sdfsd
dsfsdfsd
sdfsd	sdfsdf
sdfsdf

dsfsdfsd
sdfsd
dsfsdfs

In [14]:
print("\n")

In [15]:
print("\\n")

\n

In [16]:
print("sdfsdfds\\nsdfsd\\ndsfsdfsd\\nsdfsd\\tsdfsdf\\nsdfsdf\\n\\ndsfsdfsd\\nsdfsd\\ndsfsdfs")

sdfsdfds\nsdfsd\ndsfsdfsd\nsdfsd\tsdfsdf\nsdfsdf\n\ndsfsdfsd\nsdfsd\ndsfsdfs

In [17]:
print(r"sdfsdfds\nsdfsd\ndsfsdfsd\nsdfsd\tsdfsdf\nsdfsdf\n\ndsfsdfsd\nsdfsd\ndsfsdfs")
#raw strings. it will not recognize the special characters \n \t

sdfsdfds\nsdfsd\ndsfsdfsd\nsdfsd\tsdfsdf\nsdfsdf\n\ndsfsdfsd\nsdfsd\ndsfsdfs

In [18]:
name="apple"
print("name")

name

In [19]:
name="apple"
print("name")
print(name)

name
apple

In [20]:
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print(name,age,height,weight)

Jayaram 4 3.46783 17.36789

In [21]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person",name,"details")

The person Jayaram details

In [22]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person",name,"details AGE:",age)

The person Jayaram details AGE: 4

In [23]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person",name,"details AGE:",age,sep="")

The personJayaramdetails AGE:4

In [24]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age,sep="")

The person Jayaram details AGE:4

In [28]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG",   sep="")

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG

In [31]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets",sep="")

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets

In [32]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets",sep="")
#template strings
print(f"The person {name} details")

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets
The person Jayaram details

In [33]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets",sep="")
#template strings
print("The person {name} details")

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets
The person {name} details

In [34]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight} KG, HEIGHT:{height} feets.")

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets
The person Jayaram details AGE:4 years, WEIGHT:17.36789 KG, HEIGHT:3.46783 feets.

In [36]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{round(weight,2)} KG, HEIGHT:{round(height,2)} feets.")

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets
The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.

In [38]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight:f} KG, HEIGHT:{height:f} feets.")

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The person Jayaram details AGE:4 years, WEIGHT:17.367890 KG, HEIGHT:3.467830 feets.

In [39]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight:.2f} KG, HEIGHT:{height:.2f} feets.")

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.

In [ ]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight:.2f} KG, HEIGHT:{height:.2f} feets.")
# templates strings are crashing in localization(language conversions).

In [40]:
name="Jayaram"
age=4
height=3.46783
weight=17.36789
s=f"The person {name} details AGE:{age} years, WEIGHT:{weight:.2f} KG, HEIGHT:{height:.2f} feets."
print(s)# convert to some other language

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.

In [41]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight:.2f} KG, HEIGHT:{height:.2f} feets.")
# templates strings are crashing in localization(language conversions).
#format specifiers
print("The Person %s details AGE:%s",(name,age))

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The Person %s details AGE:%s ('Jayaram', 4)

In [42]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight:.2f} KG, HEIGHT:{height:.2f} feets.")
# templates strings are crashing in localization(language conversions).
#format specifiers
print("The Person %s details AGE:%s"%(name,age))

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The Person Jayaram details AGE:4

In [44]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight:.2f} KG, HEIGHT:{height:.2f} feets.")
# templates strings are crashing in localization(language conversions).
#format specifiers
print("The Person %s details AGE:%s"%(age,name))

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The Person 4 details AGE:Jayaram

In [45]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight:.2f} KG, HEIGHT:{height:.2f} feets.")
# templates strings are crashing in localization(language conversions).
#format specifiers
print("The Person %s details AGE:%s years, WEIGHT:%s KG, HEIGHT:%s feets."%(name,age,weight,height))

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The Person Jayaram details AGE:4 years, WEIGHT:17.36789 KG, HEIGHT:3.46783 feets.

In [46]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight:.2f} KG, HEIGHT:{height:.2f} feets.")
# templates strings are crashing in localization(language conversions).
#format specifiers
print("The Person %s details AGE:%s years, WEIGHT:%f KG, HEIGHT:%f feets."%(name,age,weight,height))

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The Person Jayaram details AGE:4 years, WEIGHT:17.367890 KG, HEIGHT:3.467830 feets.

In [47]:
#The person jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
name="Jayaram"
age=4
height=3.46783
weight=17.36789
print("The person ",name," details AGE:",age," years, ","WEIGHT:",round(weight,2)," KG, ","HEIGHT:",round(height,2)," feets.",sep="")
#template strings, f strings
print(f"The person {name} details AGE:{age} years, WEIGHT:{weight:.2f} KG, HEIGHT:{height:.2f} feets.")
# templates strings are crashing in localization(language conversions).
#format specifiers
print("The Person %s details AGE:%s years, WEIGHT:%.2f KG, HEIGHT:%.2f feets."%(name,age,weight,height))

The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.
The Person Jayaram details AGE:4 years, WEIGHT:17.37 KG, HEIGHT:3.47 feets.

In [48]:
cost=23.45678
print("the product coast details:%d"%cost)

the product coast details:23

In [52]:
cost=23
print("the product coast details:%x"%cost)

the product coast details:17

In [53]:
cost=23
print("the product coast details:%b"%cost)

ValueError: unsupported format character 'b' (0x62) at index 27

In [54]:
cost=23
print("the product coast details:%o"%cost)

the product coast details:27

In [ ]:
cost=23
print("the product coast details:%x"%cost)

In [55]:
cost=23
print(f"the product coast details:{cost}")

the product coast details:23

In [56]:
cost=23
print(f"the product coast details:{cost:b}")

the product coast details:10111

In [57]:
cost=23.45
print(f"the product coast details:{cost:d}")

ValueError: Unknown format code 'd' for object of type 'float'

In [58]:
cost=23.45
print(f"the product coast details:{int(cost)}")

the product coast details:23

In [59]:
s="sdfsdf\nsdfsd\nsdfsd\nsdfsd\mnsdfsd\nsdfsd\nsdfsd"
print(s)

sdfsdf
sdfsd
sdfsd
sdfsd\mnsdfsd
sdfsd
sdfsd

In [60]:
k="sdfsdf\nsdfsd\nsdfsd\nsdfsd\mnsdfsd\nsdfsd\nsdfsd"
print("%s"%k)

sdfsdf
sdfsd
sdfsd
sdfsd\mnsdfsd
sdfsd
sdfsd

In [61]:
k="sdfsdf\nsdfsd\nsdfsd\nsdfsd\mnsdfsd\nsdfsd\nsdfsd"
print("%r"%k)

'sdfsdf\nsdfsd\nsdfsd\nsdfsd\\mnsdfsd\nsdfsd\nsdfsd'

In [62]:
s="python"
print(s,type(s))

python <class 'str'>

In [63]:
s=b"python"
print(s, type(s))

b'python' <class 'bytes'>