In [1]:
f=open("data.txt","w")# file not available. It will create it.

In [2]:
f.write("It's cool in Hyderabad now.")# it will write to cache, not actual file

27

In [3]:
f.write("and about to rain.")# it will write to cache, not actual file

18

In [4]:
f.flush()# it will remove data from cache and add it to the actual file

In [5]:
import random

In [7]:
names=["Virant","Rahul","Rohit","rahane","jadeja","bumra"]
random.choice(names)

'rahane'

In [8]:
names=["Virant","Rahul","Rohit","rahane","jadeja","bumra"]
random.choice(names)

'Virant'

In [9]:
import names

In [11]:
names.get_full_name()

'Beatrice Anderson'

In [12]:
names.get_full_name()

'Frank Davison'

In [13]:
names.get_full_name()

'Mary Allison'

In [14]:
random.randint(60000,100000)

75221

In [15]:
random.randint(60000,100000)

69764

In [16]:
random.randint(60000,100000)

96626

In [17]:
#WAP to prepare 100 rows in csv file
#id,name,salary
f=open("data.csv","w")
f.writelines(["id","name","salary"])
f.flush()

In [21]:
#WAP to prepare 100 rows in csv file
#id,name,salary
import random, names
f=open("data.csv","w")
f.write("id,name,salary")
for i in range(100):
    row=f"\n{i},{names.get_full_name()},{random.randint(60000,100000)}"
    f.write(row)
f.flush()
f.close()

In [ ]:
#WAP to prepare 100 rows in csv file
#id,name,salary
import random, names
f=open("data.csv","w")
f.write("id,name,salary")
for i in range(1000000):
    row=f"\n{i},{names.get_full_name()},{random.randint(60000,100000)}"
    f.write(row) # cache. Do we have sufficient ram to handle ten lakhs rows?
f.flush()
f.close()

In [ ]:
#WAP to prepare 100 rows in csv file
#id,name,salary
import random, names
f=open("data.csv","w")
f.write("id,name,salary")
for i in range(1000000):
    row=f"\n{i},{names.get_full_name()},{random.randint(60000,100000)}"
    f.write(row)
    f.flush()# if we flush it for every row, there will be a small performance issue, but it will store only one rwo in cache at a time
f.close()

In [23]:
f=open("data.csv","w")# data.csv is available in a path,then it will remove the old data and gives a fresh file.

In [24]:
f.write("id,name,salary")

14

In [25]:
f.flush()

In [26]:
f.write("\n1,name1,1234567")

16

In [27]:
f.close()# flush and close it.

In [28]:
f.write("some data")

ValueError: I/O operation on closed file.

In [29]:
f=open("data.csv","a")#data.csv is available in a path, it will not remove the old data.

In [30]:
f=open("data.csv","a")
for i in range(2,102):
    row=f"\n{i},{names.get_full_name()},{random.randint(60000,100000)}"
    f.write(row)
    f.flush()
f.close()

In [32]:
f=open("data.csv","r")
data = f.read()
print(data)
f.close()

id,name,salary
1,name1,1234567
2,Candace Downing,70828
3,Michael Look,83553
4,Tracy Kaupp,99036
5,Rubi Biondolillo,92957
6,Joyce Brunton,79798
7,Deana Simpkins,66066
8,Jacqueline Erickson,62783
9,Larry Carter,74952
10,Larry Rayburn,72399
11,Francis Weeks,90371
12,Joseph Kalar,80838
13,Stephen Garing,86850
14,Sharon Dorf,82438
15,Lois Johnson,98174
16,Daniel Harrison,80252
17,Jessica Loving,71939
18,Alicia Thorn,76059
19,Damon Jones,80971
20,Cara Lheureux,96330
21,Cynthia Rasmussen,76848
22,Teresa Crockett,77586
23,Nola Poulsen,73669
24,Carey Dixon,82449
25,Mary Yanni,89939
26,Edward Rosenquist,77010
27,Chris Island,84959
28,Jerry Dellosso,92076
29,Emma Brandon,88324
30,Natasha Atkinson,78349
31,Daniel Shinabarger,60954
32,Laverne Byrd,76192
33,Eunice Link,62847
34,Alfred Quintero,95874
35,Amelia Christensen,75642
36,Betty Salas,85525
37,Mark Little,80218
38,Stephanie Dupree,97875
39,Freddie Hendon,63052
40,Anne Carollo,93375
41,Lillian Clark,71630
42,Anita Franklin,80482
43,Amelia Boxx,95584
44,Tammy Spore,77454
45,Gayle Alonso,72292
46,James Thomas,84876
47,Sean Dunston,93950
48,Yolanda Barker,84118
49,Jo Brown,95265
50,Cindy Coleman,65581
51,Amanda Farrell,76042
52,Joseph Griffith,85515
53,Virginia Perez,75309
54,Rita Griffith,70655
55,Linda Toyoshima,82620
56,Pamela Brown,70530
57,Alison Carr,81944
58,Travis Dimas,61457
59,Dennis Dodd,73419
60,Nancy Wheeler,71452
61,Jerrod Wilson,75626
62,Michael Hunsaker,90348
63,Warren Martinez,88323
64,Kaye Clevenger,90639
65,Mary Davis,75781
66,Robert Sullivan,99338
67,Lois Morton,86840
68,Barbara Adams,70742
69,Felicia Martin,62256
70,Charles Poling,62091
71,Kenny Waters,78855
72,Salvador Boyd,79777
73,Daniel Johnson,61384
74,John Franco,98423
75,Rebecca Casey,99656
76,Lisa Harris,92993
77,Tammie Stubbs,70569
78,Shawn Henry,64406
79,Rhonda Bauman,64888
80,Barbara Brown,88742
81,Edward Gaston,94990
82,Larry Kellison,61933
83,Lesley Sam,86759
84,Lora Neal,96392
85,Dan Massey,87994
86,Kirk Towers,75932
87,Bernice Ricci,92189
88,Georgia Law,92242
89,Juan Dillingham,66755
90,Edith Baron,73541
91,Dennis Pettiway,71643
92,Marion Martin,90554
93,Retta Petersen,98419
94,Donna Myers,82201
95,Daniel Jackson,94025
96,David Hanna,61211
97,Carlos Ecklund,85511
98,Mitsuko Hinsley,81746
99,Richard Hansell,69914
100,Gene Mcconkey,60215
101,Marilyn Kempf,92164

In [33]:
f=open("data.csv","r")
l1=f.readline()
print(l1)
l2=f.readline()
print(l2)
l3=f.readline()
print(l3)
f.close()

id,name,salary

1,name1,1234567

2,Candace Downing,70828

In [34]:
f=open("data.csv","r")
for line in f:
    print(line)
f.close()

id,name,salary

1,name1,1234567

2,Candace Downing,70828

3,Michael Look,83553

4,Tracy Kaupp,99036

5,Rubi Biondolillo,92957

6,Joyce Brunton,79798

7,Deana Simpkins,66066

8,Jacqueline Erickson,62783

9,Larry Carter,74952

10,Larry Rayburn,72399

11,Francis Weeks,90371

12,Joseph Kalar,80838

13,Stephen Garing,86850

14,Sharon Dorf,82438

15,Lois Johnson,98174

16,Daniel Harrison,80252

17,Jessica Loving,71939

18,Alicia Thorn,76059

19,Damon Jones,80971

20,Cara Lheureux,96330

21,Cynthia Rasmussen,76848

22,Teresa Crockett,77586

23,Nola Poulsen,73669

24,Carey Dixon,82449

25,Mary Yanni,89939

26,Edward Rosenquist,77010

27,Chris Island,84959

28,Jerry Dellosso,92076

29,Emma Brandon,88324

30,Natasha Atkinson,78349

31,Daniel Shinabarger,60954

32,Laverne Byrd,76192

33,Eunice Link,62847

34,Alfred Quintero,95874

35,Amelia Christensen,75642

36,Betty Salas,85525

37,Mark Little,80218

38,Stephanie Dupree,97875

39,Freddie Hendon,63052

40,Anne Carollo,93375

41,Lillian Clark,71630

42,Anita Franklin,80482

43,Amelia Boxx,95584

44,Tammy Spore,77454

45,Gayle Alonso,72292

46,James Thomas,84876

47,Sean Dunston,93950

48,Yolanda Barker,84118

49,Jo Brown,95265

50,Cindy Coleman,65581

51,Amanda Farrell,76042

52,Joseph Griffith,85515

53,Virginia Perez,75309

54,Rita Griffith,70655

55,Linda Toyoshima,82620

56,Pamela Brown,70530

57,Alison Carr,81944

58,Travis Dimas,61457

59,Dennis Dodd,73419

60,Nancy Wheeler,71452

61,Jerrod Wilson,75626

62,Michael Hunsaker,90348

63,Warren Martinez,88323

64,Kaye Clevenger,90639

65,Mary Davis,75781

66,Robert Sullivan,99338

67,Lois Morton,86840

68,Barbara Adams,70742

69,Felicia Martin,62256

70,Charles Poling,62091

71,Kenny Waters,78855

72,Salvador Boyd,79777

73,Daniel Johnson,61384

74,John Franco,98423

75,Rebecca Casey,99656

76,Lisa Harris,92993

77,Tammie Stubbs,70569

78,Shawn Henry,64406

79,Rhonda Bauman,64888

80,Barbara Brown,88742

81,Edward Gaston,94990

82,Larry Kellison,61933

83,Lesley Sam,86759

84,Lora Neal,96392

85,Dan Massey,87994

86,Kirk Towers,75932

87,Bernice Ricci,92189

88,Georgia Law,92242

89,Juan Dillingham,66755

90,Edith Baron,73541

91,Dennis Pettiway,71643

92,Marion Martin,90554

93,Retta Petersen,98419

94,Donna Myers,82201

95,Daniel Jackson,94025

96,David Hanna,61211

97,Carlos Ecklund,85511

98,Mitsuko Hinsley,81746

99,Richard Hansell,69914

100,Gene Mcconkey,60215

101,Marilyn Kempf,92164

In [35]:
f=open("data.csv","r")
data=f.read()
data1=f.read()
print("data1:",data1)
f.close()

data1:

In [37]:
f=open("data.csv","r")
print(f.tell())
data=f.read()
print(f.tell())
data1=f.read()
print("data1:",data1)
f.close()

0
2425
data1:

In [39]:
f=open("data.csv","r")
print(f.tell())
data=f.read(100)
print("data:",data)
print(f.tell())
data1=f.read(100)
print("data1:",data1)
print(f.tell())
f.close()

0
data: id,name,salary
1,name1,1234567
2,Candace Downing,70828
3,Michael Look,83553
4,Tracy Kaupp,99036
5,Ru
105
data1: bi Biondolillo,92957
6,Joyce Brunton,79798
7,Deana Simpkins,66066
8,Jacqueline Erickson,62783
9,Larr
209

In [41]:
f=open("data.csv","r")
print(f.tell())
data=f.read(100)
print("data:",data)
print(f.tell())
data1=f.read(100)
print("data1:",data1)
print(f.tell())

0
data: id,name,salary
1,name1,1234567
2,Candace Downing,70828
3,Michael Look,83553
4,Tracy Kaupp,99036
5,Ru
105
data1: bi Biondolillo,92957
6,Joyce Brunton,79798
7,Deana Simpkins,66066
8,Jacqueline Erickson,62783
9,Larr
209

In [42]:
data=f.read()# it will read from 209 character

In [43]:
f.tell()

2425

In [44]:
data=f.read()# it will read fromm 2425, it's a last character, we dont have data after it. so it's empty
print(data)

In [47]:
f=open("data.csv","r")
data = f.read(100)
while data:
    print(data)
    print("*"*20)
    data=f.read(100)

id,name,salary
1,name1,1234567
2,Candace Downing,70828
3,Michael Look,83553
4,Tracy Kaupp,99036
5,Ru
********************
bi Biondolillo,92957
6,Joyce Brunton,79798
7,Deana Simpkins,66066
8,Jacqueline Erickson,62783
9,Larr
********************
y Carter,74952
10,Larry Rayburn,72399
11,Francis Weeks,90371
12,Joseph Kalar,80838
13,Stephen Garing
********************
,86850
14,Sharon Dorf,82438
15,Lois Johnson,98174
16,Daniel Harrison,80252
17,Jessica Loving,71939
1
********************
8,Alicia Thorn,76059
19,Damon Jones,80971
20,Cara Lheureux,96330
21,Cynthia Rasmussen,76848
22,Teres
********************
a Crockett,77586
23,Nola Poulsen,73669
24,Carey Dixon,82449
25,Mary Yanni,89939
26,Edward Rosenquist
********************
,77010
27,Chris Island,84959
28,Jerry Dellosso,92076
29,Emma Brandon,88324
30,Natasha Atkinson,78349
********************

31,Daniel Shinabarger,60954
32,Laverne Byrd,76192
33,Eunice Link,62847
34,Alfred Quintero,95874
35,
********************
Amelia Christensen,75642
36,Betty Salas,85525
37,Mark Little,80218
38,Stephanie Dupree,97875
39,Fred
********************
die Hendon,63052
40,Anne Carollo,93375
41,Lillian Clark,71630
42,Anita Franklin,80482
43,Amelia Boxx
********************
,95584
44,Tammy Spore,77454
45,Gayle Alonso,72292
46,James Thomas,84876
47,Sean Dunston,93950
48,Yol
********************
anda Barker,84118
49,Jo Brown,95265
50,Cindy Coleman,65581
51,Amanda Farrell,76042
52,Joseph Griffit
********************
h,85515
53,Virginia Perez,75309
54,Rita Griffith,70655
55,Linda Toyoshima,82620
56,Pamela Brown,7053
********************
0
57,Alison Carr,81944
58,Travis Dimas,61457
59,Dennis Dodd,73419
60,Nancy Wheeler,71452
61,Jerrod W
********************
ilson,75626
62,Michael Hunsaker,90348
63,Warren Martinez,88323
64,Kaye Clevenger,90639
65,Mary Davis
********************
,75781
66,Robert Sullivan,99338
67,Lois Morton,86840
68,Barbara Adams,70742
69,Felicia Martin,62256

********************
70,Charles Poling,62091
71,Kenny Waters,78855
72,Salvador Boyd,79777
73,Daniel Johnson,61384
74,John
********************
 Franco,98423
75,Rebecca Casey,99656
76,Lisa Harris,92993
77,Tammie Stubbs,70569
78,Shawn Henry,6440
********************
6
79,Rhonda Bauman,64888
80,Barbara Brown,88742
81,Edward Gaston,94990
82,Larry Kellison,61933
83,Le
********************
sley Sam,86759
84,Lora Neal,96392
85,Dan Massey,87994
86,Kirk Towers,75932
87,Bernice Ricci,92189
88
********************
,Georgia Law,92242
89,Juan Dillingham,66755
90,Edith Baron,73541
91,Dennis Pettiway,71643
92,Marion
********************
Martin,90554
93,Retta Petersen,98419
94,Donna Myers,82201
95,Daniel Jackson,94025
96,David Hanna,612
********************
11
97,Carlos Ecklund,85511
98,Mitsuko Hinsley,81746
99,Richard Hansell,69914
100,Gene Mcconkey,60215
********************

101,Marilyn Kempf,92164
********************

In [49]:
data = [{"id":i,"name":names.get_full_name(),"salary":random.randint(60000,100000)} for i in range(5)]
print(data)

[{'id': 0, 'name': 'Emma Arellano', 'salary': 90364}, {'id': 1, 'name': 'Stacy Brown', 'salary': 69673}, {'id': 2, 'name': 'Andrea Brown', 'salary': 71785}, {'id': 3, 'name': 'Marie Adams', 'salary': 69444}, {'id': 4, 'name': 'Angelina White', 'salary': 99284}]

In [50]:
data = [{"id":i,"name":names.get_full_name(),"salary":random.randint(60000,100000)} for i in range(5)]
f=open("data1.txt","w")
f.write(data)
f.close()

TypeError: write() argument must be str, not list

In [51]:
data = [{"id":i,"name":names.get_full_name(),"salary":random.randint(60000,100000)} for i in range(5)]
f=open("data1.txt","w")
f.write(str(data))
f.close()

In [52]:
f=open("data1.txt","r")
data=f.read()
print(type(data))
print(data)
f.close()

<class 'str'>
[{'id': 0, 'name': 'Clarence Blank', 'salary': 99702}, {'id': 1, 'name': 'Jason Clow', 'salary': 85911}, {'id': 2, 'name': 'Michael Hartman', 'salary': 83052}, {'id': 3, 'name': 'Caitlyn Ahlman', 'salary': 96392}, {'id': 4, 'name': 'Maria Bundy', 'salary': 62816}]

In [53]:
data[0]

'['

In [54]:
# to process this data again we need to convert string to dictionary.

In [ ]:
# I dont want to convert list of dictionaries to string. But we should write this list of dicts as list of dicts only
# in to file. when we read it, we should get list of dicts only not string.